<div class="entry"
    {% if include.nopopup == true %}
        onclick='projectRotate(this, {{ include.project | jsonify }})'
    {% else %}
        onclick='projectPopup({{ include.project | jsonify }})'
    {% endif %}><!--
    --><img class="entry-image" src="/assets/{{ include.project.images[0] }}"/><!--
    -->{% if include.nopopup == true %}<!--
        --><div class="entry-nav"><!--
            -->{% for image in include.project.images %}<!--
                --><div class="entry-nav-dot{% if forloop.index == 1 %} active{% endif %}"></div><!--
            -->{% endfor %}<!--
        --></div><!--
    -->{% endif %}<!--
    --><div class="entry-hover"><!--
        --><div class="entry-hover-title">{{ include.project.title }}</div><!--
        --><div class="entry-hover-description">{{ include.project.description }}</div><!--
    --></div><!--
--></div>
