@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/opensans-300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/opensans-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/opensans-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    height: 100%;
}

body {
    background-color: #fffaf4;
    background-image: url("/assets/paper-50s.png");
    color: #404040;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    cursor: default;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
}

input {
    font-family: inherit;
    font-weight: inherit;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: #b8b1ab;
  opacity: 1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a, a:link, a:visited, a:hover {
    color: #404040;
    text-decoration: none;
}

a:active {
    color: #606060;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

img {
    animation: fadein 0.5s ease-in;
}

main {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 120px;
}

/* social */

.social-link {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px;
}

.social-link:last-child {
    margin: 0;
}

.email-social {
    background-image: url(/assets/social/email.svg);
    background-color: #3f5e73;
}

.medium-social {
    background-image: url(/assets/social/medium.svg);
    background-color: #282828;
}

.wattpad-social {
    background-image: url(/assets/social/wattpad.png);
    background-color: #fafafa;
}

/* nav */

nav {
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
    width: 100%;
    background-color: #6C98B5;
    background: linear-gradient(#75a0bd, #6C98B5);
    transition: box-shadow 0.1s ease-in-out;
}

.nav-content {
    display: flex;
    max-width: 800px;
    padding: 30px 80px;
    line-height: 50px;
    margin: 0 auto;
}

body.scrolled nav:not(.nohome) {
    position: fixed;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 1px 0 0 rgba(4,13,33,.1),
        0 6.6501px 5.32008px rgba(0,0,0,.04317),
        0 12.5216px 10.0172px rgba(0,0,0,.0339075),
        0 22.3363px 17.869px rgba(0,0,0,.0282784),
        0 41.7776px 33.4221px rgba(0,0,0,.0235573),
        0 100px 80px rgba(0,0,0,.0174624);
}

nav > .scroll-progress {
    display: block;
    width: 0%;
    height: 2px;
    margin-top: -2px;
    background: #3f5e74;
    visibility: hidden;
}

body.scrolled nav > .scroll-progress {
    visibility: unset;
}

.nav-home {
    display: inline-block;
    font-size: 0px;
    flex-shrink: 0;
}

.nav-logo {
    display: inline-block;
    vertical-align: top;
    line-height: initial;
}

.nav-logo-placeholder {
    display: inline-block;
    position: absolute;
}

.nav-logo-image {
    display: inline-block;
    position: relative;
}

.nav-title {
    display: inline-block;
    line-height: 50px;
    font-size: 18px;
    padding: 0 15px;
    color: #ffffff;
}

.nav-breadcrumb {
    font-family: Monaco, monospace, sans-serif;
    font-size: 16px;
    color: #3f5e74;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-breadcrumb > a {
    font-size: 16px;
    color: inherit;
    text-decoration: underline;
}

/* header */

header {
    position: relative;
    background: #6C98B5;
    background: linear-gradient(#75a0bd, #6690ae);
}

header.shortgradient {
    background: linear-gradient(#6C98B5, #6690ae);
}

.header-page-title {
    display: block;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}

.header-curve {
    width: 100%;
    height: auto;
    min-height: 8px;
    position: absolute;
    top: 100%;
    margin-top: -1px;
}

/* hero */

.hero {
    display: block;
    max-width: 600px;
    padding: 80px 80px 60px;
    margin: 0 auto;
}

.hero-top {
    display: flex;
}

.hero-logo {
    flex-shrink: 0;
    margin: 20px 0 10px;
}

.hero-logo-placeholder {
    position: absolute;
}

.hero-logo-image {
    position: relative;
}

.hero-logo-placeholder, .hero-logo-image {
    width: 240px;
    height: 292px;
}

.hero-text {
    flex: 1;
    padding-right: 60px;
    font-size: 0;
}

.hero-title {
    color: #ffffff;
    font-size: 40px;
}

.hero-bio {
    color: #ffffff;
    font-size: 18px;
    font-weight: lighter;
    padding-top: 20px;
    margin-bottom: 30px;
}

a.hero-subscribe {
    display: block;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    padding: 12px 16px;
    background: #3f5e73;
    box-shadow: 2px 2px 0 0 #567d99;
}

.hero-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 40px;
    padding-top: 15px;
}

.hero-social {
    padding-top: 25px;
    text-align: center;
    font-size: 0;
}

/* carousel */

.carousel {
    display: block;
    text-align: center;
    padding: 0 60px;
    margin: 20px auto;
    font-size: 0px;
}

.carousel-link, a.carousel-link {
    display: inline-block;
    padding: 20px 30px;
    font-size: 36px;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px;
}

.carousel-link:not(.current) {
    color: #ffffff88;
    text-shadow: none;
}

.carousel-link[data-count]:after, a.carousel-link[data-count]:after {
    content: attr(data-count);
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    background-color: #56809eaa;
    color: #ffffffaa;
    padding: 1px 5px;
    margin-left: 10px;
    border-radius: 5px;
    text-shadow: none;
}

/* panel */

.panel {
    margin: 0 auto;
    max-width: 1000px;
}

.panel-header {
    display: block;
    margin-block: unset;
    font-weight: normal;
    font-size: 24px;
    color: #cec9c2;
    max-width: 800px;
    line-height: 60px;
    padding: 0 80px;
    margin: 0 auto;
    margin-bottom: 40px;
}

a.panel-footer-link {
    display: block;
    text-align: center;
    padding: 10px 60px;
    color: #a2988b;
    text-decoration: underline;
}

/* panel/preview-poems */

.panel.preview-poems {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 60px 0;
}

.poem-preview {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 1;
    width: 200px;
    height: 200px;
    padding: 20px;
    cursor: pointer;
}

.poem-preview-image {
    display: block;
    margin: 0 auto;
    height: 64px;
    margin-bottom: 30px;
}

.poem-preview-title {
    display: block;
    font-size: 24px;
    text-align: center;
}

.panel.preview-poems > a.panel-footer-link {
    flex-basis: 100%;
}

/* panel/preview-wrappable-list */
.preview-wrappable-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0;
    padding: 0 40px;
}

.list-preview {
    display: block;
    padding: 0 80px;
    max-width: 800px;
    margin: 20px auto 80px;
}

.list-preview-header {
    display: block;
    font-size: 28px;
}

a.list-preview-category {
    display: inline;
    font-weight: 300;
    color: #a2988b;
}

a.list-preview-title {
    display: block;
    color: #404040;
}

a.list-preview-category + a.list-preview-title {
    display: inline;
    padding: 0 0.25em;
}

a.list-preview-excerpt {
    display: block;
    color: #606060;
    font-size: 16px;
    padding: 15px 0;
}

.list-preview-excerpt > p {
    white-space: pre-wrap;
    tab-size: 6;
}

.list-preview-excerpt > p:first-child {
    margin-top: 2px;
}

.list-preview-footer {
    font-size: 16px;
    display: flex;
    align-items: center;
}

a.list-preview-readmarker {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    background-color: #f5f0ea;
    border-radius: 3px;
    cursor: default;
}

a.list-preview-readmarker > svg {
    margin-top: 2px;
    width: auto;
    height: 12px;
    fill: #f5f0ea;
}

a.list-preview-readmarker:visited > svg {
    fill: #a2988b;
}

.list-preview-date {
    color: #d4cec8;
}

a.list-preview-continuereading {
    flex: 1;
    color: #b4aba1;
    text-decoration: underline;
    text-align: right;
    padding-left: 20px;
}

/* content */

.words-header {
    display: block;
    max-width: 800px;
    padding: 0 80px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.poem-format {
    text-align: center;
}

.words-image {
    display: block;
    width: 120px;
    min-height: 120px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
    overflow: hidden;
}

.words-image.invert {
    filter: invert(1) brightness(2);
}

.words-title {
    display: block;
    margin-top: 40px;
    font-size: 36px;
    color: #ffffff;
}

.words-author {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #3f5e74;
}

.words-date {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #3f5e74;
}

.words-page {
    display: block;
    max-width: 800px;
    padding: 0 80px;
    margin: 0 auto;
}

.words-content {
    display: block;
    font-size: 0;
}

.words-content > p, .words-content > div {
    margin: 16px 0;
    font-size: 16px;
    tab-size: 6;
    white-space: pre-wrap;
}

.words-section-break {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.words-section-break:before {
    content: "• • •";
    font-size: 12px;
    font-weight: normal;
}

/* footer */

footer {
    position: relative;
    background-color: #f5f0ea;
    background-image: url("/assets/paper-50s.png");
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    width: inherit;
    min-height: 240px;
    color: #606060;
    font-size: 16px;
}

footer:before {
    content: "";
    display: block;
    position: absolute;
    top: -63px;
    width: 100%;
    height: 64px;
    background-color: #fffaf4;
    background-image: url("/assets/paper-50s.png"), url("/assets/footer-border.svg");
    background-position: bottom;
    background-repeat: repeat, repeat-x;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 70px 20px;
    margin: 0 auto;
    max-width: 1000px;
}

.footer-section {
    flex-grow: 1;
    padding-bottom: 40px;
    margin: 0 20px;
}

.footer-header {
    display: block;
    font-size: 22px;
    padding-bottom: 20px;
    color: #928677;
}

.footer-email {
    display: block;
    font-size: 16px;
    margin: 20px 0;
}

.footer-email > a {
    display: inline-block;
    text-decoration: underline;
    color: inherit;
    padding: 10px 5px;
}

.footer-social {
    margin: 5px 0;
    font-size: 0;
}

.footer-social > .email-social {
    background-color: #a59789;
}

a.footer-subscribe {
    display: block;
    box-sizing: border-box;
    max-width: 220px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    padding: 8px 24px;
    margin-bottom: 10px;
    background: #567d99;
    box-shadow: 2px 2px 0 0 #3f5e73;
}

a.footer-unsubscribe {
    display: block;
    max-width: 220px;
    text-align: center;
    color: #c8c1bb;
    font-size: 14px;
    margin-bottom: 20px;
}

a.sitemap-link {
    display: block;
    font-size: 14px;
    line-height: 150%;
    color: inherit;
}

.footer-copyright {
    display: block;
    font-size: 10px;
    text-align: right;
    color: #c8c1bb;
    padding: 20px 0;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;
}

@media only screen and (max-width: 820px) {
    .hero {
        display: block;
        max-width: 420px;
        text-align: center;
    }

    .hero-top {
        flex-direction: column-reverse;
    }

    .hero-logo-placeholder, .hero-logo-image {
        width: 164px;
        height: 200px;
    }

    .hero-text {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-content {
        padding: 50px 50px 20px;
    }
}

@media only screen and (max-width: 740px) {
    .footer-content {
        padding: 30px 30px 10px;
    }

    .footer-section {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-content {
        padding: 25px 40px;
    }

    nav:not(.nobreadcrumb) .nav-title {
        font-size: 0;
        padding: 0 5px;
    }

    main {
        padding-top: 40px;
    }

    .header-page-title {
        font-size: 36px;
    }

    .hero {
        padding: 30px 40px;
        max-width: 400px;
    }

    .hero-title {
        font-size: 30px;
    }

    .hero-bio {
        font-size: 16px;
        padding-top: 15px;
    }

    .carousel {
        padding: 0 20px;
        margin: 15px auto;
    }

    .carousel:after {
        padding-top: 30px;
    }

    .carousel-link, a.carousel-link  {
        font-size: 28px;
        padding: 15px 20px;
    }

    main {
        padding-bottom: 100px;
    }

    .panel-header {
        padding: 0 40px;
    }

    .list-preview {
        padding: 0 40px;
        margin-bottom: 60px;
    }

    .list-preview-header {
        font-size: 24px;
    }

    .panel.preview-poems {
        padding: 0 30px;
    }

    .poem-preview {
        width: 150px;
        height: 150px;
    }

    .poem-preview-image {
        margin-bottom: 20px;
    }

    .poem-preview-title {
        font-size: 20px;
    }

    .words-header, .words-page {
        padding: 0 40px;
    }

    .words-image {
        margin-top: 20px;
    }

    .footer-content {
        padding: 20px 20px 10px;
    }

    .footer-header {
        font-size: 20px;
    }
}

@media only screen and (max-width: 460px) {
    .nav-content {
        padding: 20px 40px;
    }

    .header-page-title {
        font-size: 30px;
    }

    .hero-logo-placeholder, .hero-logo-image {
        width: 123px;
        height: 150px;
    }

    .hero-text {
        padding: 0;
        text-align: center;
    }

    .hero-title {
        font-size: 22px;
    }

    .carousel {
        padding: 0 10px;
    }

    .carousel-link, a.carousel-link  {
        font-size: 22px;
    }

    .panel-header {
        font-size: 22px;
    }

    .preview-wrappable-list {
        flex-direction: column;
        padding: 0 10px;
    }

    .list-preview-header {
        font-size: 22px;
    }

    .list-preview-footer {
        font-size: 14px;
    }

    .words-image {
        width: 40%;
    }

    .words-title {
        font-size: 26px;
    }

    .words-content > p {
        font-size: 14px;
    }

    .footer-section.sitemap {
        display: none;
    }

    footer:before {
        background-size: auto, 470px 30px;
    }
}

@media only screen and (max-width: 380px) {
    a.hero-joinbutton {
        font-size: 16px;
    }

    .preview-wrappable-list {
        padding: 0;
    }

    .words-image {
        width: 60%;
    }

    .footer-copyright {
        text-align: center;
    }
}
