html {
    height: 100%;
}

body {
    background-color: #fffaf4;
    background-image: url("/assets/paper-50s.png");
    color: #404040;
    font-family: Monaco, monospace, sans-serif;
    font-size: 16px;
    cursor: default;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 320px;
}

input {
    font-family: inherit;
    font-weight: inherit;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: #b8b1ab;
  opacity: 1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a, a:link, a:visited, a:hover {
    color: #404040;
    text-decoration: none;
}

a:active {
    color: #606060;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

img {
    animation: fadein 0.5s ease-in;
}

main {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
}

/* social */

.social-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
    background-size: contain;
}

.medium-social {
    background-image: url(/assets/social/medium.svg);
}

.wattpad-social {
    background-image: url(/assets/social/wattpad.png);
}

/* nav */

nav {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    position: relative;
    padding: 30px 60px;
    box-sizing: border-box;
    width: 100%;
    line-height: 50px;
    background: inherit;
    transition: box-shadow 0.1s ease-in-out;
    background-color: #fffaf4dd;
    backdrop-filter: blur(2px);
}

body.scrolled > nav:not(.nohome) {
    position: fixed;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 1px 0 0 rgba(4,13,33,.1),
        0 6.6501px 5.32008px rgba(0,0,0,.04317),
        0 12.5216px 10.0172px rgba(0,0,0,.0339075),
        0 22.3363px 17.869px rgba(0,0,0,.0282784),
        0 41.7776px 33.4221px rgba(0,0,0,.0235573),
        0 100px 80px rgba(0,0,0,.0174624);
}

nav > .scroll-progress {
    display: block;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #5F9FAA;
    visibility: hidden;
}

body.scrolled > nav > .scroll-progress {
    visibility: unset;
}

.nav-home {
    display: inline-block;
    font-size: 0px;
    flex-shrink: 0;
}

.nav-logo {
    display: inline-block;
    vertical-align: top;
    line-height: initial;
}

.nav-logo-placeholder {
    display: inline-block;
    position: absolute;
}

.nav-logo-image {
    display: inline-block;
    position: relative;
}

.nav-title {
    display: inline-block;
    line-height: 50px;
    font-size: 18px;
    padding: 0 15px;
}

.nav-breadcrumb {
    font-size: 16px;
    color: #8a8a8a;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-breadcrumb > a {
    font-size: 16px;
    color: inherit;
    text-decoration: underline;
}

.carousel {
    display: block;
    text-align: center;
    padding: 0 60px;
    margin: 40px auto;
    font-size: 0px;
}

.carousel:after {
    content: "";
    display: block;
    padding-top: 40px;
    margin: 0 auto;
    width: 60px;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.carousel-link {
    display: inline-block;
    padding: 20px 30px;
    font-size: 36px;
}

.carousel-link:not(.current) {
    color: #9a9a9a;
}

/* hero */

.hero {
    display: flex;
    max-width: 600px;
    padding: 40px 80px 0px;
    margin: 40px auto;
}

.hero-logo {
    flex-shrink: 0;
}

.hero-logo-placeholder {
    position: absolute;
}

.hero-logo-image {
    position: relative;
}

.hero-logo-placeholder, .hero-logo-image {
    width: 205px;
    height: 250px;
}

.hero-right {
    flex: 1;
    padding-top: 40px;
    padding-left: 60px;
    font-size: 0;
}

.hero-title {
    font-size: 36px;
}

.hero-bio {
    font-size: 18px;
    padding-top: 20px;
    color: #808080;
}

.hero-social {
    padding-top: 25px;
}

/* panel */

.panel {
    margin: 0 auto;
    max-width: 1000px;
}

.panel > h1 {
    margin-block: unset;
    font-weight: normal;
    font-size: 26px;
    color: #9a9a9a;
    line-height: 60px;
    padding: 0 60px;
    margin-bottom: 40px;
}

/* panel/preview-poems */

.panel.preview-poems {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
}

.poem-preview {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 1;
    width: 200px;
    height: 200px;
    padding: 20px;
    cursor: pointer;
}

.poem-preview-image {
    display: block;
    margin: 0 auto;
    height: 64px;
    margin-bottom: 30px;
}

.poem-preview-title {
    display: block;
    font-size: 24px;
    text-align: center;
}

/* panel/preview-wrappable-list */
.preview-wrappable-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0;
    padding: 0 40px;
}

.list-preview {
    display: block;
    padding: 0 40px;
    margin-bottom: 80px;
    flex-grow: 1;
}

.list-preview-header {
    display: flex;
    margin-bottom: 10px;
}

.list-preview-image {
    display: block;
    margin-right: 20px;
    width: 80px;
    min-height: 80px;
    flex-shrink: 0;
    flex-grow: 0;
}

.list-preview-image > img {
    width: 80px;
    max-height: 120px;
    border-radius: 5px;
    overflow: hidden;
}

.list-preview-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
    word-break: break-word;
}

.preview-wrappable-list .list-preview-text {
    display: block;
}

.list-preview-title {
    display: block;
    font-size: 26px;
    line-height: 36px;
    flex-grow: 1;
    margin-right: 20px;
}

.list-preview-date {
    display: block;
    font-size: 18px;
    line-height: 36px;
    color: #afafaf;
}

.list-preview-excerpt {
    display: block;
    font-size: 16px;
    color: #606060;
    margin-bottom: 5px;
}

.list-preview-excerpt > p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.2em;
    line-height: 1.4em;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* content */

.words-page {
    display: block;
    max-width: 800px;
    padding: 0 80px;
    margin: 0 auto;
}

.words-page.poem-format {
    text-align: center;
}

.words-image {
    display: block;
    width: 120px;
    min-height: 120px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
    overflow: hidden;
}

.words-title {
    display: block;
    margin-top: 40px;
    font-size: 36px;
}

.words-author {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #8a8a8a;
}

.words-date {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #8a8a8a;
}

.words-content {
    display: block;
    margin-top: 60px;
    white-space: pre-wrap;
    font-size: 0;
}

.words-content > p {
    margin: 16px 0;
    font-size: 16px;
    tab-size: 4;
}

.words-section-break {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.words-section-break:before {
    content: "• • •";
    font-size: 12px;
    font-weight: normal;
}

/* footer */

footer {
    background-color: #f5f0ea;
    background-image: url("/assets/paper-50s.png");
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 80px;
    box-sizing: border-box;
    width: inherit;
    min-height: 240px;
    color: #606060;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 70px 40px;
    margin: 0 auto;
    max-width: 1000px;
}

.footer-section {
    flex-grow: 1;
    padding-bottom: 40px;
    margin: 0 10px;
}

.footer-header {
    display: block;
    font-size: 24px;
    padding-bottom: 20px;
    color: #9a9a9a;
}

.footer-email {
    display: block;
    font-size: 16px;
}

.footer-email > a {
    text-decoration: underline;
    color: inherit;
}

.footer-social {
    padding-top: 15px;
}

form.footer-mailinglist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-mailinglist > input[type="text"] {
    -webkit-appearance: none;
    border: 2px solid transparent;
    background: #fffaf4;
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    caret-color: #4b3a2c;
    color: #6b5a4c;
    margin: 5px;
    flex-shrink: 1;
    flex-grow: 2;
}

.footer-mailinglist.input-error > input[type="text"] {
    border-color: #fb9a8c;
}

.footer-mailinglist > input[type="text"]:focus {
    background: #fffef8;
}

.footer-mailinglist > input[type="submit"] {
    -webkit-appearance: none;
    border: 2px solid transparent;
    background: #dfdad4;
    color: #4b3a2c;
    line-height: 18px;
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    margin: 5px;
    flex-shrink: 0;
    flex-grow: 1;
}

a.sitemap-link {
    display: block;
    font-size: 14px;
    line-height: 150%;
    color: inherit;
}

.footer-copyright {
    display: block;
    font-size: 10px;
    text-align: right;
    color: #b8b1ab;
    padding: 20px 0;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;
}

@media only screen and (max-width: 1000px) {
    .hero {
        display: block;
        max-width: 500px;
        text-align: center;
    }

    .hero-logo-placeholder, .hero-logo-image {
        width: 164px;
        height: 200px;
    }

    .hero-right {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-content {
        padding: 60px 50px 30px;
    }
}

@media only screen and (max-width: 740px) {
    .footer-content {
        padding: 40px 30px 10px;
    }

    .footer-section {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 25px 40px;
    }

    .nav-title {
        font-size: 0;
        padding: 0 10px;
    }

    .hero {
        max-width: 400px;
        padding: 20px 40px 0px;
        margin-bottom: 30px;
    }

    .hero-logo-placeholder, .hero-logo-image {
        width: 123px;
        height: 150px;
    }

    .hero-title {
        font-size: 30px;
    }

    .hero-bio {
        font-size: 16px;
        padding-top: 15px;
    }

    .hero-social {
        padding-top: 15px;
    }

    .carousel {
        padding: 0 20px;
        margin: 30px auto;
    }

    .carousel:after {
        padding-top: 30px;
    }

    .carousel-link {
        font-size: 28px;
        padding: 15px;
    }

    .panel > h1 {
        font-size: 22px;
        padding: 0 40px;
        margin-bottom: 20px;
    }

    .list-preview {
        padding: 0 40px;
        margin-bottom: 60px;
    }

    .list-preview-title {
        font-size: 22px;
        line-height: 30px;
    }

    .list-preview-date {
        font-size: 16px;
        line-height: 30px;
    }

    .panel.preview-poems {
        padding: 0 30px;
    }

    .poem-preview {
        width: 150px;
        height: 150px;
    }

    .poem-preview-image {
        margin-bottom: 20px;
    }

    .poem-preview-title {
        font-size: 20px;
    }

    .words-page {
        padding: 0 40px;
    }

    .words-image {
        margin-top: 20px;
    }

    .words-content {
        margin-top: 30px;
    }

    footer {
        margin-top: 60px;
    }

    .footer-content {
        padding: 30px 20px 10px;
    }

    .footer-header {
        font-size: 20px;
    }
}

@media only screen and (max-width: 460px) {
    nav {
        padding: 20px 40px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero-logo {
        padding-bottom: 30px;
    }

    .hero-right {
        padding: 0;
        text-align: center;
    }

    .hero-title {
        font-size: 22px;
    }

    .carousel {
        padding: 0 10px;
    }

    .carousel-link {
        font-size: 22px;
        padding: 15px;
    }

    .panel > h1 {
        font-size: 22px;
    }

    .list-preview-title {
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
    }

    .words-image {
        width: 40%;
    }

    .words-title {
        font-size: 26px;
    }

    .words-content > p {
        font-size: 14px;
    }

    .footer-section.sitemap {
        display: none;
    }
}

@media only screen and (max-width: 380px) {
    nav {
        padding: 15px 30px;
    }

    .list-preview-header {
        flex-direction: column;
    }

    .list-preview-image {
        max-width: 200px;
        width: auto;
        height: 100px;
        margin: 0 auto 20px;
    }

    .list-preview-image > img {
        max-width: 200px;
        width: auto;
        height: 100px;
    }

    .list-preview-text, .list-preview-excerpt {
        text-align: center;
    }

    .list-preview-title {
        margin-right: 0;
    }

    .words-image {
        width: 60%;
    }

    .footer-copyright {
        text-align: center;
    }
}
